<ion-view view-title="{{cocktail.nom}}">


  <ion-content class="padding">

    <img ng-src="{{image}}">


    <div class="list">
		<div class="item item-divider">
			Présentation
		</div>
		<p ng-bind-html="cocktail.preparation | newlines">
			
		</p>


		<div class="item item-divider">
			Ingrédients
		</div>
		<p ng-repeat="ingredient in cocktail.ingredients">
			{{ingredient.nom}}, dosage : {{ingredient.dosage}}
		</p>
	</div>

  </ion-content>

  <ion-footer-bar class="bar bar-footer">
  		
	    <ion-footer-bar class="bar bar-footer">
  		<div class="button-bar">
  		 <a class="button button-positive icon-left ion-wand animated bounceInLeft" href="">Préparer</a>
		 <button class="button ion-ios-star button-positive icon-left animated bounceInRight" ng-click="fav()" >Mettre en favoris</button>
		</div>
	</ion-footer-bar>
	</ion-footer-bar>
</ion-view> 
